{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Lugares{% endblock title %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('lugar.crear_lugar') }}">Nuevo Lugar</a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% for lugar in lugares %}
        <article class="lugar">
            <header>
                <div>
                    {% if g.user['id_user'] == lugar['id_creador'] %}
                        <h1><a href="">{{ lugar['nombre_lugar'] }}</a></h1>
                    {% else %}
                        <h1>{{ lugar['nombre_lugar'] }}</h1>
                    {% endif %}
                    <div class="about">creado por {{ lugar['username'] }} </div>
                </div>
                {% if g.user['id_user'] == lugar['id_creador'] %}
                    <a href="{{ url_for('lugar.actualizar_lugar', id_lugar=lugar['id_lugar']) }}" class="action">Editar</a>
                {% endif %}
            </header>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock content %}